*
!backend/
!backend/**
!frontend/
!frontend/**
!dev/
!dev/docker/
!dev/docker/**
!dev/config/
!dev/config/**
**/.env*
**/build/
**/.gradle/
**/node_modules/
**/.git/
**/.idea/
**/dist/
**/coverage/
**/playwright-report/
**/test-results/
