### Common ###
### OS ###
.DS_Store

### Secret ###
.env
.env.*
!.env.example
*.key
*.pem
*.p12
*.jks
secrets/
/.local/
/dev/wiremock-extension/.gradle/
/dev/wiremock-extension/build/

### Backend ###
### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
